<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255760170840-730lhmfic5vfg0knj5pg1g3hfkrrr1kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255760170840-730lhmfic5vfg0knj5pg1g3hfkrrr1kk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>255760170840-cvei8evjikae35347vfphcqho5pamokc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBP5cPbipCkz7QPJN1yvmFMhmEQSCTP09U</string>
	<key>GCM_SENDER_ID</key>
	<string>255760170840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weathershare</string>
	<key>PROJECT_ID</key>
	<string>weathershare-57c93</string>
	<key>STORAGE_BUCKET</key>
	<string>weathershare-57c93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255760170840:ios:b1584960884b4faaad2f2d</string>
</dict>
</plist>