<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUmvNAm4O7JNKN8jsqAJ8yAP4GAZhd5Bc</string>
	<key>GCM_SENDER_ID</key>
	<string>205985847642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weathershare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>weathershare-d2b77</string>
	<key>STORAGE_BUCKET</key>
	<string>weathershare-d2b77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205985847642:ios:a1ca81b55b97b7ffc73b63</string>
</dict>
</plist>